
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg
*.import
default/
default_env.tres
icon.png

# Mono-specific ignores
.mono/
.vs/

## Core latex/pdflatex auxiliary files:
report/*

!/report/*.tex
report/img/
!/report/img/
